{% extends "base.html.twig" %}

{% block title %}Modification d'une annonce{% endblock %}

{% form_theme formulaire 'annonce/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Modification de votre annonce {{ad.title}}</h1>

        {{form_start(formulaire)}}
        {{form_widget(formulaire)}}
         <button type="submit" class="btn btn-primary"> Modifier l'annonce</button> 
        {{form_end(formulaire)}}

    </div>
{% endblock %}




{% block javascripts %}
<script src="/js/annonce.js"></script>
{% endblock %}
