{% extends "base.html.twig" %}

{% block title %}Modif profil utilisateur{% endblock %}

{% block body %}
<div class="container">
    <h1>Modification du profil</h1>

    {{form_start(formulaireModification)}}
    {{form_widget(formulaireModification)}}
    <button type="submit" class="btn btn-primary">Modifier</button>
    {{form_end(formulaireModification)}}
</div>

{% endblock %}