{% extends "base.html.twig" %}

{% block title %}Mise à jour du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification du mot de passe</h1>

        {{form_start(modificationPwd)}}
        {{form_widget(modificationPwd)}}
        <button type="submit" class="btn btn-primary">Modifier</button>
        {{form_end(modificationPwd)}}
    </div>
{% endblock %}